<form (ngSubmit)="createNewMovie(newMovie)">
<br/>
  <h3>Add Movie</h3>
  <label for="name">Name</label>
  <input class="form-control" [(ngModel)] = "newMovie.name" id="name" name="name" required="required">

  <label for="type">Type</label>
  <input class="form-control" [(ngModel)]="newMovie.type" id="type" name="type" required="required">

  <label for="director">Director</label>
  <input class="form-control" [(ngModel)]="newMovie.director" id="director" name="director" required="required">

  <label for="year">Year</label>
  <input class="form-control" [(ngModel)]="newMovie.year" id="year" name="year" required="required">

  <label for="description">Description</label>
  <input class="form-control" [(ngModel)]="newMovie.description" id="description" name="description" required="required">

  <label for="rating">Rating</label>
  <input class="form-control" [(ngModel)]="newMovie.rating" id="rating" name="rating" required="required">
  <br/>
  <button class="btn btn-success" type="submit">Create</button>

</form>
